*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #e0f7fa;
  color: #fff;
  line-height: 1.6;
}

header>div{
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav{
  margin: auto;
  width: 100%;
  background-color: #19366b;
  display: flex;
  justify-content: center;
  padding: 0px;
  flex-wrap: wrap;
  text-align: center;
  gap: 1.5rem;
  box-sizing: border-box;
}

/* .logo {
  display: flex;
  align-items: center;
  gap: 10px;
} */

.logo img {
  height: 100px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  position: relative; 
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.nav a:hover {
  background-color: #e63946;
}

.index_img img {
  width: 100%;
  height: auto;
  display: block;
}

.index_msg>p{
  padding: 2vw 5vw 2vw 5vw;
  background-color: #ffffff;
  font-size: 1rem;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px;
  background-color:#e0f7fa;
  background-repeat:no-repeat; 
}

.hero h1 {
  color: #e63946;
  font-size: 2.5rem;
  margin-bottom: 20px;
  max-width: 800px;
}

.hero p {
  color: black;
  font-size: 1.2rem;
  max-width: 700px;
}

.btn {
  margin-top: 30px;
  padding: 10px 30px;
  background-color: #e63946;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #111;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}
@media(max-width: 1105px){
  /* Hide all logos first */
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .logo>img {
    display: none;
  }

  /* Show only NSS, YAS, and NSUT logos */
  .NSS-Logo,.yas-Logo,.NSUT-Logo {
    display: inline-block !important;
    width: auto;
  }
}